services:
  nempo-track-api:
    build:
      context: .
      dockerfile: Dockerfile.native
    container_name: nempo-track-api
    ports:
      - "8080:8080"
    environment:
      - NEO4J_URI=${NEO4J_URI}
      - NEO4J_USERNAME=${NEO4J_USERNAME}
      - NEO4J_PASSWORD=${NEO4J_PASSWORD}

      - JWT_SECRET=${JWT_SECRET}
      - JWT_EXPIRATION=${JWT_EXPIRATION}
      - SUPERADMIN_USERNAME=${SUPERADMIN_USERNAME}
      - SUPERADMIN_PASSWORD=${SUPERADMIN_PASSWORD}
    restart: unless-stopped
    depends_on:
      - neo4j
    networks:
      - nempotrack-dev
  neo4j:
    image: neo4j:5-community
    container_name: neo4j
    ports:
      - "7474:7474"
      - "7687:7687"
    environment:
      - NEO4J_AUTH=${NEO4J_USERNAME}/${NEO4J_PASSWORD}
    volumes:
      - neo4j_data:/data
      - neo4j_logs:/logs
    restart: unless-stopped
    networks:
      - nempotrack-dev

networks:
  nempotrack-dev:
    driver: bridge

volumes:
  neo4j_data:
  neo4j_logs: